<!DOCTYPE html>
<html>
    <head>        
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!-- Favicons -->
        <link href="{{ asset('img/favicon.png') }}" rel="icon">
        
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <!-- Main CSS File -->
            <link href="{{ asset('css/main.css') }}" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        
        <nav id="navmenu" class="navmenu"><ul>
          <li><a href="/index.html" class="active">Tornar</a></li></ul></nav>
    </body>
</html>
